<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=Pizzaria;Integrated Security=false;User=ourMoviesUser;Password=ourMoviesPass123456789" />
  </connectionStrings>
</configuration>